<div class="span3" id="sidebar">
  <% if @user.nil? %>
    <%= render "profile" %>
  <% else %>
    <%= render "edit_profile" %>
  <% end %>
</div>

<div class="span9" id="content">
  <div class="row-fluid">
    <div id="breadcrumb">
      <ul class="breadcrumb">
        <li class="active">Dashboard</li>
      </ul>
    </div>
    <div class="block">
      <div class="navbar navbar-inner block-header">
        <% if !current_user.is_admin? %>
          <%= render "active_trips" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
