<hr>
<footer>
    <p>
    <div class="pull-left">&copy; Running Status 2014</div>
    <div class="pull-right">Powered By <a href="http://www.techhoppers.com" target="_blank">TechHoppers</a></div>
    </p>
</footer>
<br />