<div class="navbar navbar-inner">
  <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse" style="margin: 17px 0 0">
    <li style="background-color: #FAFAFA;">
      <a href="#"><b>Vehicles</b></a>
    </li>
    <li class="active">
      <a href="#"><i class="icon-chevron-right"></i> name</a>
    </li>
  </ul>
</div>